@import url('https://fonts.googleapis.com/css2?family=Ribeye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); 

  /* =-=-=-= NAVBAR =-=-=-= */

  .navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 10px;
    z-index: 1;
  }

  .navbar a {
    color: #003459;
    text-decoration: none;
  }
  
  .navbar a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 3rem;
    font-family: Ribeye;
  }
  
  .navbar nav {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;

    background: transparent;
    height: 8vh;
  
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    font-family: Poppins;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }


.container-wrapper{
    display: flex;
    justify-content: center;
}

.input-wrapper{
    width: 294px;
    height: 43px; 
    padding: 1px 15px; 
    display: flex;
    align-items: center;
    gap: 26px;
    border: 1px solid #575757;
    border-radius: 50px;
}

.input-wrapper i{
    cursor: pointer;
    color: #575757;
    font-size: 1.2rem;
}

.input-wrapper input{
    background-color: transparent;
    border: none;
}

.input-wrapper input:focus-visible {
    outline: none;
}

.final-nav{
  display: flex;
  gap: 35px;
  align-items: center;
}

.final-nav i{
  font-size: 1.4rem;
}

.final-nav .entrar{
  font-size: 1.2rem;
  padding: 8px 20px;
  border: 0.1rem solid #003459;
  border-radius: 27px;
}

.mobile-menu{
  display: none;
  cursor: pointer;
}

.mobile-menu .linhas div{
  width: 32px;
  height: 2px;
  background: #003459;
  margin: 8px;
  transition: .5s;
}

.linhas{
  width: 100%;
}

.perfil{
  padding: 10px;
}

.info-menu, .perfil{
  display: none;
  font-size: 1.4rem;
  color: #003459;
}

@media(min-width: 1550px){
  
  .navbar nav{
    justify-content: space-around;
  }

  .logo{
    margin-left: 10vh;
  }


}

@media (max-width: 1350px) {
  body {
    overflow-x: hidden;
  }

  .logo {
    font-size: 2.5rem;
  }

  .info-menu{
    display: block;
    background-color: #EEEEEE;
    font-weight: 700;
    padding: 0.75rem 0;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .info-menu h2{
    font-size: 1.3rem;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    left: 0;
    width: 40vw;
    height: 91vh;
    background: #ff0000;
    flex-direction: column;
    border-radius: 0px 40px 40px 0px;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    z-index: 1;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 1;
    padding: 20px;
  }

  .mobile-menu, .perfil {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .final-nav .entrar{
    display: none;
  }

  .container-wrapper{
    order: 3;
    flex-basis: 100%;
    width: 0;
  }

  .input-wrapper{
    width: 100vh;
  } 

  .navbar nav{
    justify-content: space-between;
    padding: 0px 20px;
  }


}

.nav-list.active {
  transform: translateX(0);

}

.info-menu.active{
  transform: translateX(0);
}

.linhas.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.linhas.active .line2 {
  opacity: 0;
}

.linhas.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

@media (max-width: 500px) {

  .logo {
    font-size: 2rem;
  }

  .final-nav{

    gap: 25px;
  }
  
  .final-nav i{
    font-size: 1.2rem;
  }
  
  .perfil{
    font-size: 1.2rem ;
  }

  .mobile-menu .linhas div{
    width: 25px;
    height: 2px;
    margin: 4px;
  }

  .info-menu h2{
    font-size: 1rem;

  }

  .nav-list li {
    letter-spacing: 3px;
    font-size: .8rem;
  }
  
  .linhas.active .line1 {
    transform: rotate(-45deg) translate(-4px, 4px);
  }
  .linhas.active .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
  }

}




  /* =-=-=-= FOOTER =-=-=-= */